h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp19be05d3{ color:#5D5D9E; text-decoration: none} 
		a.wsp19be05d3:visited{ color:#5D5D9E; text-decoration: none} 
		a.wsp19be05d3:active{ color:#5C615E; text-decoration: none} 
		a.wsp19be05d3:hover{ color:#B2B3B4; text-decoration: none} 
#menu_69316f42 a { text-decoration: none; }
#menu_69316f42_pane { background-color: #E6E6E6; border: 1px solid #E6E6E6; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_69316f42_hr { background-color: #E6E6E6; height: 1px; border: none; }
#menu_69316f42_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_69316f42_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_69316f42_entry:hover span { color:#FFFFFF !important; }
		.menu_69316f42_mainMenuEntry { text-align: center; }
		.menu_69316f42_mainMenuEntry:hover {	background-color:#282828; }
		.menu_69316f42_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_69316f42 .mobileEntry { display: none; } 
		#menu_69316f42 .normalEntry { display: block; } 
		@media only screen and (max-width:550px) { 
			#menu_69316f42 .mobileEntry { display: block; } 
			#menu_69316f42 .normalEntry { display: none; } 
		}
#table_4bfff64d th { border: 1px solid #8C8C8C;  } 
#table_4bfff64d td { border: 1px solid #8C8C8C;  } 
body { background-color:#EAD2EF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#menu_69316f42 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:38px; text-align:left; background-color:#E5E5E5; background: linear-gradient(to bottom, #FFFFFF, #E5E5E5); border: 1px solid #A0A0A0;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:38px; height:38px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:34px;  }
.textstyle2 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:61px; height:38px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle3 { position:absolute; width:61px; height:38px; left:71px;  }
.menustyle4 { position:absolute; width:93px; height:38px; left:132px;  }
.menustyle5 { position:absolute; width:98px; height:38px; left:225px;  }
.textstyle4 { text-align:center; }
#heading_688e5a48 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#heading_2cc76d39 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
.textstyle6 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#table_4bfff64d { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-table; width:50%; height:1140px; background:none; border: 1px solid #8C8C8C; table-layout: fixed;  }
#cell_6a5612c4 {  }
#cell_7a1f4a7c {  }
#cell_365f079f {  }
#cell_365f079f {  }
#cell_798910f0 {  }
#cell_6fab104c {  }
#cell_3a151bc {  }
#cell_365f079f {  }
#cell_63851a2 {  }
#cell_30174d59 {  }
#cell_382cbccc {  }
#cell_365f079f {  }
#cell_276db422 {  }
#cell_49ec4bae {  }
#cell_4c46cf44 {  }
#cell_365f079f {  }
#cell_67c5a5c8 {  }
#cell_6530c995 {  }
#cell_f645165 {  }
#cell_365f079f {  }
#cell_15ec8179 {  }
#cell_5d6e8fc5 {  }
#cell_4a8d779a {  }
#cell_365f079f {  }
#cell_5f0116bc {  }
#cell_3984735a {  }
#cell_11b4f6cd {  }
#cell_365f079f {  }
#cell_10e32479 {  }
#cell_4915d68c {  }
#cell_23932c22 {  }
#cell_365f079f {  }
#cell_3dae042d {  }
#cell_30ba40bc {  }
#cell_65b495a2 {  }
#cell_365f079f {  }
#cell_64f37254 {  }
#cell_7912be8c {  }
#cell_780a4201 {  }
#cell_365f079f {  }
#cell_3f14847d {  }
#cell_499f9dd1 {  }
#cell_2fe25639 {  }
#cell_365f079f {  }
#cell_552b321a {  }
#cell_567eab73 {  }
#cell_1ef4dcbd {  }
#cell_365f079f {  }
#cell_21c46e0d {  }
#cell_6b4db2e2 {  }
#cell_3af796a8 {  }
#cell_365f079f {  }
#cell_33e818a {  }
#cell_2b8a8e57 {  }
#cell_41df46e {  }
#cell_365f079f {  }
#cell_696dd514 {  }
#cell_46b0c69c {  }
#cell_7b66f638 {  }
#cell_365f079f {  }
#cell_2aae4aae {  }
#cell_406a1ed8 {  }
#cell_647c82f5 {  }
#cell_365f079f {  }
#cell_1ff96705 {  }
#cell_6771e4d8 {  }
#cell_64485fad {  }
#cell_365f079f {  }
#cell_4081172c {  }
#cell_27a5273a {  }
#cell_37cf11ab {  }
#cell_365f079f {  }
#cell_7e87c8e1 {  }
#cell_67ff2894 {  }
#cell_1abba20d {  }
#cell_365f079f {  }
#cell_48fac406 {  }
#cell_5456af58 {  }
#cell_633d4dc3 {  }
#cell_365f079f {  }
#cell_6ce45538 {  }
#cell_36bd4fd1 {  }
#cell_3f52f5e {  }
#cell_365f079f {  }
#cell_18f1f132 {  }
#cell_1994e0d2 {  }
#cell_44c6c9cc {  }
#cell_365f079f {  }
#cell_3e575098 {  }
#cell_4f41ecfa {  }
#cell_3b77e554 {  }
#cell_365f079f {  }
#cell_2e184021 {  }
#cell_66e929c9 {  }
#cell_7e822e07 {  }
#cell_365f079f {  }
#cell_6d14fdfd {  }
#cell_6d47fbf1 {  }
#cell_169edec1 {  }
#cell_365f079f {  }
#cell_1d02c053 {  }
#cell_597592f2 {  }
#cell_552d7807 {  }
#cell_365f079f {  }
#cell_3fd19a42 {  }
#cell_3148d828 {  }
#cell_6f123cbb {  }
#cell_365f079f {  }
#cell_1f6374ba {  }
#cell_4cfbf672 {  }
#cell_629e3c79 {  }
#cell_365f079f {  }
#cell_289b6f13 {  }
#cell_22e4a421 {  }
#cell_5f62f228 {  }
#cell_365f079f {  }
#cell_7c36b3fb {  }
.textstyle7 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#cell_52c2f018 {  }
#cell_325f9d76 {  }
#cell_68dc096 {  }
#cell_365f079f {  }
#cell_3c000d03 {  }
#cell_385cb94e {  }
#cell_7302d56d {  }
#cell_365f079f {  }
#cell_5ef79c26 {  }
#cell_56d2fcb6 {  }
#cell_797a0fc1 {  }
#cell_365f079f {  }
#cell_1ea2dbfe {  }
#cell_372572cb {  }
#cell_2ccd4f1f {  }
#cell_365f079f {  }
#cell_6abaa81e {  }
#cell_6e2ba9d9 {  }
#cell_74f6e22b {  }
#cell_365f079f {  }
#cell_5b736143 {  }
#cell_606e82ec {  }
#cell_1e96eab0 {  }
#cell_365f079f {  }
#cell_4cd541dc {  }
#cell_5a455ad1 {  }
#cell_58949585 {  }
#cell_365f079f {  }
#cell_225196c4 {  }
#cell_10fa1e7e {  }
#cell_d4b5585 {  }
#cell_365f079f {  }
